@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}


/* hero section */
.hero-tagline:after {
  content: '';
  height: 10px;
  width: 6px;
  background: orange;
  position: absolute;
  bottom: 3px;
  left: 0px;
}