@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 94.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --border: 0 0% 83.8%;
    --input: 0 0% 89.8%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 63.9%;
    --radius: 0.5rem;
  }
  /* .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 0 0% 14.9%;
  } */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* hero section */
.hero-tagline:after {
  content: "";
  height: 10px;
  width: 6px;
  background: orange;
  position: absolute;
  bottom: 3px;
  left: 0px;
}


/* course > sidenav */

.sidenav h3{
  position: relative;
}
.sidenav h3:before{
  content: '';
  height: 10px;
  width: 13.5px;
  background: #80808052;
  position: absolute;
  left: -17px;
  top: 4.5px;
}
.sidenav ul li{
  position: relative;
  font-size: 13px;
  padding-left: 6px;
}
.sidenav ul li:before{
  content: '';
  height: 1px;
  width: 12px;
  background: gray;
  position: absolute;
  left: -17px;
  top: 10px;
}
.sidenav ul li.active{
  position: relative;
  font-size: 13px;
  padding-left: 16px;
  color: orange;
  font-weight: bold;
}
.sidenav ul li.active:before{
  content: '';
  height: 1px;
  width: 20px;
  background: orange;
  position: absolute;
  left: -17px;
  top: 10px;
}